.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#controller {
  opacity: 0;
}

.about {
  width: 300px;
  height: 300px;
  border: 1px solid #000;
  padding: 30px;
  background-color: rgb(8, 83, 49);
  color: antiquewhite;
}